{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Experience" icon="fas fa-user-tie"}}

    {{#each resume.work}}
        <section class="item">
            {{> section-header-work name=this.name }}

            {{#if position}}
            <h4>{{position}}</h4>
            {{/if}}

            {{#if location}}
                <div class="info-tag-container">
                    <i class="fa fa-map-marker"></i>

                    {{#if address}}
                        <h6 class="info-text">
                                {{removeProtocol text}}
                        </h6>
                    {{/if}}

                    {{#if location}}
                        <h6 class="info-text">
                                {{text}}
                                {{location}}
                        </h6>
                    {{/if}}
                </div>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{{mdToHtml summary}}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
